/* Постоянные клиенты */

.clients {
  .container {
    width: 450px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;

    .title {
      font-weight: 700;
      font-size: 28px;
      line-height: 1.179;
      text-align: center;
      letter-spacing: 0.03em;
      color: $first-text-color;
      margin-bottom: 30px;
    }
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .clients-list-item:nth-child(n + 3) {
    margin-top: 30px;
  }
}

.clients-list-item-link {
  box-sizing: border-box;
  display: flex;
  width: 210px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border-color: $accent-color;
  }

  &:hover .clients-svg {
    fill: $accent-color;
  }
}

.clients-svg {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients .container {
    width: 738px;
  }

  .clients-list-item-link {
    width: 226px;
  }

  .clients-list-item:nth-child(n + 4) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients .container {
    width: 1170px;
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .clients-list-item-link {
    width: 170px;
  }
}
