/* Подвал */

.footer {
  background-color: #2f303a;

  .container {
    width: 450px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}

.contacts {
  margin-bottom: 60px;
  text-align: center;
}

.contacts .logo {
  color: #ffffff;
  padding: 0;
  margin-bottom: 20px;
}

.contacts-list-item:not(:last-child) {
  margin-bottom: 8px;
}

.contacts-list-item-adress,
.contacts-list-item-adress-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contacts-list-item-adress-link {
  color: rgba(255, 255, 255, 0.6);
}

.contacts-list-item-adress-link:hover,
.contacts-list-item-adress-link:focus {
  color: $accent-color;
}

.appeal {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.socials {
  text-align: center;
  margin-bottom: 60px;

  .socials-list {
    display: flex;
    margin-top: 20px;
    justify-content: center;
  }

  .socials-list-item-link {
    display: inline-block;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.socials-list-item-link:hover,
.socials-list-item-link:focus {
  background-color: $accent-color;
}

.icon-instagram {
  background-image: url("../images/icons/instagram.svg");
}

.icon-twitter {
  background-image: url("../images/icons/twitter.svg");
}

.icon-facebook {
  background-image: url("../images/icons/facebook.svg");
}

.icon-linkedin {
  background-image: url("../images/icons/linkedin.svg");
}

.socials-list-item:not(:last-child) {
  margin-right: 10px;
}

.sender {
  text-align: center;
}

.sender-email {
  box-sizing: border-box;
  width: 450px;
  height: 50px;
  padding-left: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.button-form-send {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  background-color: $accent-color;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  margin-left: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  text-align: left;

  &::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background-image: url("../images/icons/send.svg");
    margin-left: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    width: 738px;
  }

  .position-tablet {
    display: flex;
    justify-content: space-between;
  }

  .contacts {
    padding-left: 61px;
  }

  .socials {
    padding-right: 74px;
    padding-top: 5px;
  }

  .button-form-send {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    width: 1170px;
    display: flex;
    justify-content: space-between;
  }

  .position-tablet {
    display: flex;
  }

  .contacts {
    margin-right: 69px;
    text-align: left;
    margin-bottom: 0;
  }

  .socials,
  .sender {
    padding-top: 12px;
    text-align: left;
    margin-bottom: 0;
  }

  .sender-email {
    width: 358px;
  }
}
