/* Портфолио-работы */

.portfolio {
  width: 450px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-example-list {
  padding-bottom: 60px;
}

.portfolio-example-list-item {
  width: 450px;
  box-sizing: border-box;
  outline: 1px solid #eeeeee;
  box-sizing: border-box;

  &:hover {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.portfolio-example-list-item-backend {
  position: absolute;
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  height: 100%;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-example-list-item-link:hover .portfolio-example-list-item-backend {
  opacity: 1;
  transform: translateY(0);
}

.overlay-img {
  position: relative;
  overflow: hidden;
}

.portfolio-example-list-item-project {
  margin-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $first-text-color;
}

.portfolio-example-list-item-type {
  margin-top: 4px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio {
    width: 738px;
  }

  .portfolio-example-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .portfolio-example-list-item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    width: 1170px;
  }

  .portfolio-example-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .portfolio-example-list-item {
    width: 370px;

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}
