/* Чем мы занимаемся */

.services .container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: $first-text-color;
  padding-top: 94px;
  margin-bottom: 50px;
}

.services-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}

.services-list-item {
  position: relative;
  width: 370px;
}

.services-list-item-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}
